@import url('https://fonts.googleapis.com/css?family=Anton|Press+Start+2P&display=swap');

#navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}
#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    margin-top: 80px;
    margin-bottom: 30px;
}

h1 {
    margin: 10px;
}
p {
    margin-bottom: 10px;
    margin-top: 0px;
}

#pageLogo {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#codeIm {
    height: 100px;
    width: 80px;
    margin-top: 80px;
}
#keyImg {
    height: 200px;
    
}

#inputArea {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
input[type=text] {
    background-color: thistle;
    color: gray;
    border: thistle;
}

#buttonReset {
    background-color: white;
    display: flex;
    border: none;
    font-family: 'Anton', sans-serif;
}

#codeContainer {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

#key {
    background-color: white;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    padding-left: 10px;
    padding-right: 10px; 
}
#keyList {
    font-family: 'Anton', sans-serif;
}

#code {
    background-color: white;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    padding-left: 10px;
    padding-right: 10px;
}
#codeList {
    font-family: 'Anton', sans-serif;
}

#which {
    background-color: white;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    padding-left: 10px;
    padding-right: 10px;
}
#whichList {
    font-family: 'Anton', sans-serif;
}


#foot {
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    margin-top: 20%;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-items: center;
}